* {
  text-decoration: none;
  list-style: none;
}
.container {
  display: flex;
  border: 1px solid;
}
aside {
  background: black;
  margin: 12px;
  /*padding: 20px;*/
  width: 200px;
  height: 400px;
  flex-direction: column;
  color: white;
}
.item2 {
  margin-top: 220px;
}
.cote-droit {
  width: 100%;
  padding: 20px;
}
header {
  width: 100%;
  border: 1px solid;
}
nav {
  display: flex;
  justify-content: end;
}
nav a {
  padding: 10px;
}
nav ul {
  display: flex;
}
.main-items {
  max-height: 120px;
  display: flex;
  /* overflow-x: auto;*/
  padding: 20px;
  width: 100%;
  /* padding-right: 120px;*/
}
.main-items .item {
  width: 250%;
  height: 110px;
  line-height: 110px;
  text-align: center;
  background: rgb(85, 83, 83);
  margin-right: 28px;
  color: #fff;
  font-size: 25px;
}
.item {
  margin-left: -20px;
}
h1 {
  text-align: center;
}
@media screen and (max-width: 546px) {
  .container {
    width: 485px;
  }
}
